# Dependencies
**/node_modules/
**/.pnp
**/.pnp.js

# Testing
**/coverage/

# Production
**/build/

# Misc
**/.DS_Store
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Python
**/__pycache__/
**/*.py[cod]
**/venv/
**/.env

# IDE
.idea/
.vscode/

# Docker
**/.docker/

# ML Model (if it's large, you might want to store it separately)
**/*.h5